
  .search_wrapper {
    flex: 1;
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
    align-items: center;
    position: relative;
    max-width: 800px;
    .search {
      flex: 1;
      width: 100%;
      background-color: #EEEEEE;
      height: 15px;
      padding: 15px;
      padding-left: 50px;
      border: none;
      border-radius: 100px;
      outline: none;
      &::placeholder {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
      }
    }
    .search_icon {
      margin-top: 5px;
      margin-left: 15px;
      position: absolute;
      justify-content: center;
      width: 24px;
      height: 24px;
      display: block;
      background-repeat: no-repeat;
      background-image: url('./images/search_icon.png');
    }
  }
